@{
    ViewData["Title"] = "Mi GitHub";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido a mi página de GitHub. Puedes ver mis proyectos y contribuciones en el siguiente enlace:</p>

<div class="text-center">
    <a href="https://github.com/DeviItaloO" target="_blank" class="btn btn-primary">Visita mi GitHub</a>
</div>
