@model PROYECTO_SWI.Models.HistorialPaciente

@{
    ViewData["Title"] = "Elimnar Historial del Paciente";
}

<div class="container mt-4">
    <h2 class="text-danger text-center">Elimnar Historial del Paciente</h2>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger mb-3">
                <div class="card-header bg-danger text-white">
                    <h4 class="card-title">¿Estás seguro de eliminar Hsitorial del Paciente?</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-text">Esta acción no se puede deshacer.</h5>
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Dni del Paciente:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DniPaciente)</dd>

                        <dt class="col-sm-4 font-weight-bold">N° de Atenciones:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.NumeroAtenciones)</dd>

                        <dt class="col-sm-4 font-weight-bold">Últimna Atención:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.UltimaAtencion)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="IdHistorial" />
            <button type="submit" class="btn btn-danger btn-lg shadow-sm">Eliminar</button>
            <a asp-action="Index" class="btn btn-outline-secondary btn-lg shadow-sm">Volver a la lista</a>
        </form>
    </div>
</div>