@model PROYECTO_SWI.Models.Reporte

@{
    ViewData["Title"] = "Detalle del Reporte";
}

<div class="container mt-4">
    <h2 class="text-primary text-center">Detalle del Reporte</h2>
    <hr />
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-primary mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="card-title">Información del Reporte</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Atencion:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Atencion.Detalles)</dd>

                        <dt class="col-sm-4 font-weight-bold">Detalles Adicionales:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.DetallesAdicionales)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.IdReporte" class="btn btn-warning btn-lg shadow-sm">Editar</a>
        <a asp-action="Index" class="btn btn-secondary btn-lg shadow-sm">Volver a la lista</a>
    </div>
</div>